* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(57, 63, 73);
    background: #ffffff;
}

/* header */
.header {
    padding: 24px 0;
    border-bottom: 1px solid rgb(222, 224, 229);
}

.header-content {
    margin: 0 auto;
    padding: 0 6%;
    max-width: 1024px;
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 24px;
    color: rgb(57, 63, 73);
    text-decoration: none;
}

.header-title:hover {
    color: rgb(0, 102, 255);
}

.header-space {
    margin: 0 auto;
}

.header-menu-item {
    margin-left: 24px;
    font-size: 16px;
    color: rgb(57, 63, 73);
    text-decoration: none;
}

.header-menu-item:hover {
    color: rgb(0, 102, 255);
}

.header-menu-item:first-child {
    margin-left: 0;
}

/* main */
.main {
    margin: 0 auto;
    max-width: 700px;
    padding: 64px 6% 0;
}

/* post-list */
.post-list h1, .post-list h2, .post-list h3, .post-list h4, .post-list h5, .post-list h6 {
    margin-top: 24px;
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 1.25;
    color: rgb(57, 63, 73);
}

.post-list h1:first-child, .post-list h2:first-child, .post-list h3:first-child, .post-list h4:first-child,
.post-list h5:first-child, .post-list h6:first-child {
    margin-top: 0;
}

.post-list ul, ol {
    list-style: disc;
    padding-left: 1.25em;
}

.post-list li {
    max-width: 100%;
    color: rgb(0, 102, 255);
}

.post-list a {
    display: inline-block;
    padding: .2em 0;
    line-height: 1.25;
    color: rgb(57, 63, 73);
    text-decoration: none;
}

.post-list a:hover {
    text-decoration: underline;
}

/* post */
.post-header {
    padding-bottom: 16px;
}

.post-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    color: rgb(57, 63, 73);
}

.post-date {
    margin: 4px 0 8px;
    font-size: 16px;
    color: rgb(98, 108, 125);
}

/* markdown */
.markdown {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.47;
}

.markdown a {
    color: rgb(0, 102, 255);
    cursor: pointer;
    text-decoration: none;
}

.markdown a:hover {
    text-decoration: underline;
}

.markdown strong {
    font-weight: bold;
}

.markdown em {
    font-style: italic;
}

.markdown del {
    text-decoration: line-through
}

.markdown h1 {
    margin-top: 1.6em;
    font-size: 2em;
    line-height: 1.08em;
}

.markdown h2 {
    margin-top: 1.6em;
    font-size: 1.5em;
    line-height: 1.10em;
}

.markdown h3 {
    margin-top: 1.6em;
    font-size: 1.25em;
    line-height: 1.13em;
}

.markdown h4 {
    margin-top: 1.6em;
    font-size: 1em;
    line-height: 1.17em;
}

.markdown h5 {
    margin-top: 1.6em;
    font-size: 0.875em;
    line-height: 1.21em;
}

.markdown h6 {
    margin-top: 1.6em;
    color: #888;
    font-size: 0.85em;
    line-height: 1.21em;
}

.markdown p {
    margin-top: 1em;
    word-wrap: break-word;
}

.markdown img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}

.markdown blockquote {
    margin-top: 1em;
    padding: 0.8em 1em;
    color: #333;
    background: #f9fAfA;
    border-left: 2px solid #d6d6d6;
}

.markdown hr {
    margin-top: 1em;
    border-top: 1px solid #d6d6d6;
}

.markdown ul {
    list-style: disc;
}

.markdown ol {
    list-style: decimal;
}

.markdown ol, .markdown ul {
    margin-top: 1em;
    padding-left: 1.25em;
}

.markdown ul ul {
    list-style: circle;
}

.markdown ol ol, .markdown ol ul, .markdown ul ol, .markdown ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown table {
    margin-top: 0.5em;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
}

.markdown table th, .markdown table td {
    padding: 5px 8px;
    border: 1px solid #d6d6d6;
    word-break: normal;
}

.markdown table th {
    font-weight: 600;
    background: #fafafa;
}

.markdown pre, .markdown code {
    font-size: 14px;
}

.markdown code {
    padding: 2px 4px;
    color: #333;
    background-color: #fafafa;
    border-radius: 4px;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.markdown pre {
    margin-top: 1em;
    padding: 1em;
    display: block;
    color: #333;
    background-color: #fafafa;
    line-height: 1.47;
    border-radius: 4px;
    overflow: auto;
}

.markdown pre code {
    padding: 0;
    color: inherit;
    background: none;
    font-size: 1em;
    white-space: pre;
    word-wrap: normal;
    border: none;
    border-radius: 0;
}

.markdown h1:first-child, .markdown h2:first-child, .markdown h3:first-child, .markdown h4:first-child, .markdown h5:first-child, .markdown h6:first-child, .markdown p:first-child, .markdown ol:first-child, .markdown ul:first-child, .markdown table:first-child, .markdown pre:first-child, .markdown blockquote:first-child {
    margin-top: 0;
}

.markdown h1 + h2, .markdown h2 + h3, .markdown h3 + h4, .markdown h4 + h5, .markdown h5 + h6 {
    margin-top: 1em;
}

.markdown h1 + p, .markdown h2 + p, .markdown h3 + p, .markdown h4 + p, .markdown h5 + p {
    margin-top: 1em;
}

/* footer */
.footer {
    padding: 64px 0;
    display: flex;
    justify-content: center;
}

.footer-text {
    font-size: 16px;
    color: rgb(57, 63, 73);
}

/* media */
@media screen and (max-width: 768px) {
    /* main */
    .main {
        padding: 32px 6% 0;
    }
}

@media screen and (max-width: 414px) {
    /* header */
    .header-content {
        align-items: baseline;
    }

    .header-menu-item {
        margin-left: 16px;
    }
}

@media screen and (max-width: 320px) {
    /* header */
    .header-menu-item {
        margin-left: 12px;
    }
}
